In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('fakeReviewData.csv')

In [3]:
df

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfor..."
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. I..."
2,Home_and_Kitchen_5,5.0,CG,This pillow saved my back. I love the look and...
3,Home_and_Kitchen_5,1.0,CG,"Missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5.0,CG,Very nice set. Good quality. We have had the s...
...,...,...,...,...
40427,Clothing_Shoes_and_Jewelry_5,4.0,OR,I had read some reviews saying that this bra r...
40428,Clothing_Shoes_and_Jewelry_5,5.0,CG,I wasn't sure exactly what it would be. It is ...
40429,Clothing_Shoes_and_Jewelry_5,2.0,OR,"You can wear the hood by itself, wear it with ..."
40430,Clothing_Shoes_and_Jewelry_5,1.0,CG,I liked nothing about this dress. The only rea...
40431,Clothing_Shoes_and_Jewelry_5,5.0,OR,I work in the wedding industry and have to wor...

In [4]:
df = df.drop_duplicates()

In [5]:
df

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfor..."
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. I..."
2,Home_and_Kitchen_5,5.0,CG,This pillow saved my back. I love the look and...
3,Home_and_Kitchen_5,1.0,CG,"Missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5.0,CG,Very nice set. Good quality. We have had the s...
...,...,...,...,...
40427,Clothing_Shoes_and_Jewelry_5,4.0,OR,I had read some reviews saying that this bra r...
40428,Clothing_Shoes_and_Jewelry_5,5.0,CG,I wasn't sure exactly what it would be. It is ...
40429,Clothing_Shoes_and_Jewelry_5,2.0,OR,"You can wear the hood by itself, wear it with ..."
40430,Clothing_Shoes_and_Jewelry_5,1.0,CG,I liked nothing about this dress. The only rea...
40431,Clothing_Shoes_and_Jewelry_5,5.0,OR,I work in the wedding industry and have to wor...

In [6]:
df.isnull().sum()

category    0
rating      0
label       0
text_       0
dtype: int64

In [7]:
df['text_'] = df['text_'].str.lower()

C:\Users\rishi\AppData\Local\Temp\ipykernel_23812\3985980292.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text_'] = df['text_'].str.lower()

In [8]:
df

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,"love this! well made, sturdy, and very comfor..."
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. i..."
2,Home_and_Kitchen_5,5.0,CG,this pillow saved my back. i love the look and...
3,Home_and_Kitchen_5,1.0,CG,"missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5.0,CG,very nice set. good quality. we have had the s...
...,...,...,...,...
40427,Clothing_Shoes_and_Jewelry_5,4.0,OR,i had read some reviews saying that this bra r...
40428,Clothing_Shoes_and_Jewelry_5,5.0,CG,i wasn't sure exactly what it would be. it is ...
40429,Clothing_Shoes_and_Jewelry_5,2.0,OR,"you can wear the hood by itself, wear it with ..."
40430,Clothing_Shoes_and_Jewelry_5,1.0,CG,i liked nothing about this dress. the only rea...
40431,Clothing_Shoes_and_Jewelry_5,5.0,OR,i work in the wedding industry and have to wor...

In [9]:
import string
exclude = string.punctuation+'0123456789'

In [10]:
def remove_punctuation(text):
    return text.translate(str.maketrans('','',exclude))

In [11]:
df['text_'] = df['text_'].apply(remove_punctuation)

C:\Users\rishi\AppData\Local\Temp\ipykernel_23812\1471756791.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text_'] = df['text_'].apply(remove_punctuation)

In [12]:
df['text_']

0        love this  well made sturdy and very comfortab...
1        love it a great upgrade from the original  ive...
2        this pillow saved my back i love the look and ...
3        missing information on how to use it but it is...
4        very nice set good quality we have had the set...
                               ...
40427    i had read some reviews saying that this bra r...
40428    i wasnt sure exactly what it would be it is a ...
40429    you can wear the hood by itself wear it with t...
40430    i liked nothing about this dress the only reas...
40431    i work in the wedding industry and have to wor...
Name: text_, Length: 40420, dtype: object

In [13]:
from nltk.corpus import stopwords

In [14]:
def remove_stopwords(text):
    new_text=[]
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else :
            new_text.append(word)
    str = new_text[:]
    new_text.clear()
    return " ".join(str)

In [15]:
df['text_'] = df['text_'].apply(remove_stopwords)

C:\Users\rishi\AppData\Local\Temp\ipykernel_23812\597425732.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text_'] = df['text_'].apply(remove_stopwords)

In [16]:
df['text_']

0        love  well made sturdy   comfortable  love itv...
1        love   great upgrade   original ive  mine   co...
2            pillow saved  back  love  look  feel   pillow
3        missing information    use      great product ...
4           nice set good quality     set  two months
                               ...
40427      read  reviews saying   bra ran small    orde...
40428     wasnt sure exactly   would     little large  ...
40429      wear  hood   wear    hood  wear   jacket wit...
40430     liked nothing   dress   reason  gave  stars  ...
40431     work   wedding industry    work long days   f...
Name: text_, Length: 40420, dtype: object

In [17]:
df['text_'] = df['text_'].str.strip()

C:\Users\rishi\AppData\Local\Temp\ipykernel_23812\3196471940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text_'] = df['text_'].str.strip()

In [18]:
df = df[df['text_']!='']

In [19]:
df=df.reset_index()

In [20]:
from nltk.stem import WordNetLemmatizer
word_lemma = WordNetLemmatizer()

In [21]:
def word_to_lemma(text):
    return " ".join([word_lemma.lemmatize(word,pos='v') for word in text.split()])

In [22]:
df['text_'] = df['text_'].apply(word_to_lemma)

In [23]:
df['text_']

0        love well make sturdy comfortable love itvery ...
1        love great upgrade original ive mine couple years
2                   pillow save back love look feel pillow
3                 miss information use great product price
4                     nice set good quality set two months
                               ...
40414    read review say bra run small order two band c...
40415    wasnt sure exactly would little large small si...
40416    wear hood wear hood wear jacket without hood s...
40417    like nothing dress reason give star order size...
40418    work wed industry work long days feet outside ...
Name: text_, Length: 40419, dtype: object

In [24]:
from nltk.tokenize import word_tokenize

In [25]:
df['text_'] = df['text_'].apply(word_tokenize)

In [26]:
df['text_']

0        [love, well, make, sturdy, comfortable, love, ...
1        [love, great, upgrade, original, ive, mine, co...
2           [pillow, save, back, love, look, feel, pillow]
3          [miss, information, use, great, product, price]
4             [nice, set, good, quality, set, two, months]
                               ...
40414    [read, review, say, bra, run, small, order, tw...
40415    [wasnt, sure, exactly, would, little, large, s...
40416    [wear, hood, wear, hood, wear, jacket, without...
40417    [like, nothing, dress, reason, give, star, ord...
40418    [work, wed, industry, work, long, days, feet, ...
Name: text_, Length: 40419, dtype: object

In [27]:
from nltk.tokenize import sent_tokenize
corpus=[]
for i in range(0,len(df['text_'])):
    corpus.append(df['text_'][i])

In [28]:
len(corpus)

40419

In [29]:
import gensim

In [30]:
model = gensim.models.Word2Vec(window=5,min_count=1)

In [31]:
model.build_vocab(corpus)

In [32]:
model.train(corpus, total_examples=model.corpus_count, epochs=model.epochs)

(5661342, 6391880)

In [33]:
model.wv.most_similar('good')

[('great', 0.7712389826774597),
 ('decent', 0.7315543293952942),
 ('awesome', 0.6824302077293396),
 ('fantastic', 0.6648381352424622),
 ('nice', 0.6597338914871216),
 ('predictablei', 0.6592413187026978),
 ('excellent', 0.6523725390434265),
 ('impress', 0.6381648182868958),
 ('okay', 0.6304275989532471),
 ('jobgreat', 0.6164841055870056)]

In [34]:
model.wv['good']

array([-0.2125014 , -0.92146724, -0.98253334,  0.6970511 ,  1.4924388 ,
       -1.3439558 ,  1.1106129 , -0.4412775 , -1.0808997 , -0.97547084,
        0.6417801 ,  0.503757  , -0.30788186,  0.5421043 ,  1.9710834 ,
       -0.22569063,  0.61955345, -0.23168965, -1.5276577 , -0.8227504 ,
       -0.26448983,  0.934542  ,  0.00294437,  0.914833  , -0.88070196,
        0.44494924,  0.1662543 , -1.018737  , -0.87287265,  0.97522324,
        0.24876559, -2.3593955 ,  1.1725633 ,  0.1708463 ,  0.3947006 ,
        1.7943217 ,  1.2461604 , -0.51972634, -1.8910998 ,  0.57846224,
       -0.9486265 ,  0.24699543, -0.8818169 , -0.9236209 ,  1.3414978 ,
       -0.6597599 , -0.5478107 ,  0.02782867,  1.1346841 ,  0.07635359,
        0.42955825, -1.128404  , -0.68630195,  0.8861807 , -1.0739824 ,
       -1.2164369 , -1.3183362 , -0.25549915,  0.9341757 ,  0.6277106 ,
       -0.65900046,  0.40827015,  2.8791776 , -1.2185647 , -0.6963133 ,
        1.5119789 ,  0.88373893,  0.742517  , -0.53638273, -1.644452  ,
        0.08019748,  1.0042862 ,  0.1773347 , -1.5570451 ,  0.06541015,
        0.56491274, -0.34288785,  0.14026587, -0.84576035, -0.19763388,
       -0.23388952,  0.6982709 , -0.21663311,  1.2085917 , -0.45111263,
       -1.0633472 ,  1.7600464 , -0.19854964,  0.48027727, -0.61913854,
        0.31283966,  1.660075  ,  0.19384356, -0.5576679 ,  1.5323486 ,
       -1.9839898 ,  2.1493402 ,  1.1077539 ,  0.59727424, -2.3932886 ],
      dtype=float32)

In [35]:
import numpy as np

In [36]:
def sentence_vector(sent):
    sent = [word for word in sent if word in model.wv.index_to_key]
    return np.mean(model.wv[sent],axis=0)

In [37]:
from tqdm import tqdm

In [38]:
data=[]
for sent in tqdm(df['text_'].values):
    data.append(sentence_vector(sent))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 40419/40419 [00:35<00:00, 1147.78it/s]

In [39]:
data = np.array(data)

In [40]:
data.shape

(40419, 100)

In [41]:
data

array([[ 0.4129921 , -0.72509354, -0.4272384 , ..., -0.5498061 ,
         0.00269211, -1.0068681 ],
       [-0.3847593 , -0.04292038, -0.49768054, ..., -0.4336536 ,
         0.6311937 , -0.412062  ],
       [ 0.9089452 , -0.237747  , -1.1944983 , ..., -0.42685232,
         0.183972  , -0.3664074 ],
       ...,
       [ 0.1541389 ,  0.3266419 , -0.51840407, ..., -0.31609553,
         0.04603628, -0.22924192],
       [ 0.6768558 ,  0.17643645, -1.0684652 , ..., -0.08156437,
         0.13054694, -0.43630508],
       [ 0.48996374,  0.10319301, -0.7665973 , ..., -0.61567   ,
         0.16818602, -0.12206353]], dtype=float32)

In [42]:
df['vector'] = [row for row in data]

In [43]:
df.drop(columns='index', inplace=True)

In [44]:
df

,category,rating,label,text_,vector
0,Home_and_Kitchen_5,5.0,CG,"[love, well, make, sturdy, comfortable, love, ...","[0.4129921, -0.72509354, -0.4272384, 0.7591337..."
1,Home_and_Kitchen_5,5.0,CG,"[love, great, upgrade, original, ive, mine, co...","[-0.3847593, -0.04292038, -0.49768054, 0.83120..."
2,Home_and_Kitchen_5,5.0,CG,"[pillow, save, back, love, look, feel, pillow]","[0.9089452, -0.237747, -1.1944983, 0.5229474, ..."
3,Home_and_Kitchen_5,1.0,CG,"[miss, information, use, great, product, price]","[0.18972123, 0.2553477, -0.49209282, 0.5746921..."
4,Home_and_Kitchen_5,5.0,CG,"[nice, set, good, quality, set, two, months]","[0.1839242, -0.17013465, -0.79147464, 1.219844..."
...,...,...,...,...,...
40414,Clothing_Shoes_and_Jewelry_5,4.0,OR,"[read, review, say, bra, run, small, order, tw...","[0.10589347, 0.23896876, -0.76626426, 0.397594..."
40415,Clothing_Shoes_and_Jewelry_5,5.0,CG,"[wasnt, sure, exactly, would, little, large, s...","[0.81293416, 0.33803585, -1.0244838, 1.0039612..."
40416,Clothing_Shoes_and_Jewelry_5,2.0,OR,"[wear, hood, wear, hood, wear, jacket, without...","[0.1541389, 0.3266419, -0.51840407, 0.1952852,..."
40417,Clothing_Shoes_and_Jewelry_5,1.0,CG,"[like, nothing, dress, reason, give, star, ord...","[0.6768558, 0.17643645, -1.0684652, 0.9822397,..."
40418,Clothing_Shoes_and_Jewelry_5,5.0,OR,"[work, wed, industry, work, long, days, feet, ...","[0.48996374, 0.10319301, -0.7665973, 0.6201975..."

In [45]:
df.to_csv('FakeReview.csv',index=False)